.pageTitle{
  text-align: center;
  margin-bottom: 2rem;
}
.btnBox{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  margin: 0 auto;
}
.link {
  text-align: center;
  margin-bottom: 3rem;
}
.btn {
  display: inline-flex;
  background-color: #e67e22;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 0.9rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
  text-align: center;
  line-height: normal;
}
/**************************/
/* 576px */
/**************************/
@media (min-width: 576px) {
  .pageTitle{
    margin-bottom: 3rem;
  }
  .link {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .pageTitle{
    margin-bottom: 4rem;
  }
  .link {
    margin-bottom: 5rem;
  }
}