.addPage {
  padding: 4rem 0;
}
.addContainer {
  max-width: 130rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.textBox {
  max-width: 130rem;
  padding: 0 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addH2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.description {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}
.addImg {
  object-fit: cover;
  border-radius: 1.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.122);
}
.imgBox {
  display: none;
  visibility: hidden;
}
.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
}

@media (min-width: 768px) {
  .imgBox {
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
  }
  .contactImg {
    object-fit: cover;
    border-radius: 1.4rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.122);
  }
  .addContainer {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 4rem;
  }
}

@media (min-width: 900px) {
  .addPage {
    padding: 8rem 0;
  }
  .addH2 {
    font-size: 4.6rem;
    margin-bottom: 3.5rem;
  }
  .description {
    font-size: 2rem;
    line-height: 1.2;
  }
  .addContainer {
    padding: 0 6rem;
  }
}
@media (min-width: 1000px) {
  .addPage {
    padding: 14rem 0 9rem 0;
  }
  .addH2 {
    margin-bottom: 5rem;
  }
  .textBox {
    max-width: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
    margin-bottom: 7rem;
  }
  .description {
    font-size: 2.7rem;
    line-height: 1.1;
    text-align: center;
  }
  .imgBox {
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
  }
  .contactImg {
    width: 100%;
  }
}

