/**************************/
/* コピーしない！！！ */
.cardBox {
  max-width: 150em;
  margin: 0 auto;
  font-size: 10px;
  padding: 0 1em;
  display: grid;
  column-gap: 1em;
  row-gap: 3em;
  grid-template-columns: repeat(2, 1fr);
}
/* .relative{
  position: relative;
} */
/**************************/

/**************************/
/* 576px */
/**************************/
@media (min-width: 576px) {
}
/**************************/
/* 768px */
/**************************/
@media (min-width: 768px) {
  .cardBox {
    font-size: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}
/**************************/
/* 900px */
/**************************/
@media (min-width: 900px) {
  .cardBox {
    font-size: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}
/**************************/
/* 1200px */
/**************************/
@media (min-width: 1200px) {
}
