.heroSection{
  background-color: #fdf2e9;
  padding: 4.8rem 0 7.6rem 0;
}
.hero{
  padding: 0 2.5rem;
  gap: 3.4rem;
  justify-content: center;
  align-content: center;
}
.heroDescription{
  font-size: 2rem;
  display: inline-block;
  line-height: 1.6;
  margin-bottom:1.6rem;
}
.heroTextBox{
  text-align: center;
}
.heroImgBox{
  text-align: center;
}
.heroImg{
  width: 80%;
}
.btnBox{
  display: grid;
  gap: 1.5rem ;
  padding: 1.25rem;
  font-size: 0.5rem;
}
.btnBox button:last-child{
  grid-column: 1/4;
  margin: 0 8rem;
}
.link{
  text-decoration: none;
  font-weight: 570;
}
/**************************/
/* ABOVE 590px (small Tablets & above) */
/**************************/
@media (min-width: 700px){
  
  .heroDescription{
    font-size: 2.4rem;
    margin-bottom: 6rem;
  }
  .hero{
    padding: 6rem 8rem;
  }
  .btnBox{
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
  }
  .btnBox button:last-child{
    grid-column:auto;
    margin: 0;
  }
  .btnBox button:last-child{
    grid-column: 1/4;
    margin: 0 12rem;
  }
}
/**************************/
/* ABOVE 1000px (small Tablets & above) */
/*　heroのtextとimgを横並びにする　*/
/**************************/
@media (min-width: 1000px){
  .hero{
    grid-template-columns: repeat(2,2fr);
  }
  .heroDescription{
    font-size: 2rem;
  }
  .heroTextBox{
    text-align:unset;
  }
  .heroSection{
    padding: 8.5rem 0 7.6rem 0;
  }
  .heroImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroImg{
    width: 100%;
    height: auto;
  }
  .btnBox{
    padding: 0;
  }
}
/**************************/
/* ABOVE 1200px  */
/*　左右paddingを減らす font size調整　*/
/**************************/
@media (min-width: 1200px){
  .heroSection{
    padding: 13rem 0 7.6rem 0;
  }
  .hero{
    padding: 0 3.2rem;
  }
  .heroH1 {
    font-size: 5rem; 
    
  }
  .heroDescription{
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 9rem;
  }
}

/**************************/
/* ABOVE 1400px  */
/*　font sizeを調整　*/
/**************************/
@media (min-width: 1200px){
  .hero{
    max-width: 140rem;
    margin: 0 auto;
    gap: 5rem;
  }
  /* .heroSection{
    margin: 0 auto;
  } */
  .heroH1 {
    font-size: 5.5rem; 
    margin-bottom: 5.2rem;
  }
}