.sectionHow{
  background-color: #faebd7;
}
.stepContainer{
  background-color: #faebd7;
}
.featureImgBox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:blue;
}
.featureNum{
  font-size:7.4rem ;
  font-weight: 600;
  color: #C9C9D7;
  margin-bottom: 1.2rem;
}
.featureTertiary{
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.keyword{
  color: #cf711f;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 500;
}
.featureDesc{
  font-size: 1.8rem;
  line-height: 1.8;
}
.img{
  width: auto; height: auto;
}
.howContent{
  grid-template-columns: repeat(1,1fr);
}
/**************************/
/* ABOVE 700px (small Tablets & above) */
/**************************/
@media (min-width: 700px){
  .mr{
    margin-right: 7rem;
  }
  .featureNum{
    font-size:9rem ;
    margin-bottom: 2rem;
  }
  .featureTertiary{
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  .keyword{
    font-size: 2.4rem;
  }
  .featureDesc{
    font-size: 2rem;
    line-height: 1.5;
  }
  .stepContainer:nth-child(even) {
    direction: rtl;
  }
  .stepContainer:nth-child(even) > * {
    direction: ltr;
  }
  .stepContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .img {
    width: 120px;
    height: auto;
  }
}
/**************************/
/* ABOVE 1200px (small Tablets & above) */
/* Font sizeを大きく調節する */
/**************************/
@media(min-width:1200px){
  .featureNum{
    font-size:12rem ;
    margin-bottom: 3rem;
  }
  .featureTertiary{
    font-size: 3.5rem;
  }
  .featureDesc{
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight:100;
  }
  .keyword{
    font-size: 3rem;
  }
}