.sectionToileInfo{
  /* padding: 9.6rem 0 0; */
  padding-top: 0.6rem;
  background-color: #faebd7;
}
.toilet{
  display: flex; /* ✅ 画像とテキストを横並びにする */
  text-decoration: none;
  color: #555;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}
.toilet:hover{
  transform: translateY(-1em);
}
.toiletImg {
  width: 100%;
  /* height: 100%; */
  height: auto;
}

.imgSrc {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.toiletTextInfo{
  padding:  2.4rem 1.5rem 3.2rem 1.5rem;
}
.toiletType{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin-bottom:1.2rem ;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.accessible{
  background-color: #84d190;
}
/* #ae3099 */
.notAccessible{
  background-color: #ffd43b;
}
.toiletName{
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.toiletUl{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.toiletLi{
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}
.mb{
  margin-bottom: 6rem;
}
.mb.container {
  padding: 0 4rem;
}
.line {
  max-width: 50rem;
  margin: 10rem auto 0;
  padding-top:0 2rem;
  border-top: 0.05rem solid #333;
}
/**************************/
/* ABOVE 590px (small Tablets & above) */
/**************************/
@media (min-width: 700px){
  .toiletType{
    font-size: 1.3rem;
    padding: 0.8rem 1.6rem;
    margin-bottom:3rem ;
    font-weight: 600;
  }
  .toiletName{
    font-size: 2rem;
  }
  .toiletUl{
    gap: 2rem;
  }
  .toiletLi{
    font-size: 1.5rem;
    gap: 2rem;
  }
  .toiletTextInfo{
    padding:  2.4rem 2rem 3.6rem 2rem;
  }
  .toiletBtn{
    font-size: 3rem;
    padding: 1.6rem 2.5rem;
  }
  .sectionToileInfo .container{
    padding: 0 4rem;
  }
}
/**************************/
/* ABOVE 1200px  */
/*　font拡大　*/
/**************************/
@media (min-width: 1200px){
  .sectionToileInfo{
    padding-top: 9.6rem;
  }
  .toiletType{
    font-size: 1.5rem;
  }
  .toiletName{
    font-size: 3rem;
  }
  .toiletUl{
    gap: 2.5rem;
  }
  .toiletLi{
    font-size: 2rem;
    gap: 2rem;
  }
}
