.filterContainer {
  background-color: antiquewhite;
}
.filter {
  font-size: 2rem;
}
.icon {
  display: block;
  height: 4.3rem;
}
.checkBox{
  display: none;
}
/* .box {
  border: 0.13rem solid #000;
  width: 1rem;
  height: 1rem;
} */
.box {
  border: 0.13rem solid #000;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.checkBox:checked + .box {
  background-color: #e67e22;
  border: 0.13rem solid #fff;
}
/**************************/
/* OPTION DEFAULT*/
/**************************/
.options {
  display: none;
}
.label {
  font-size: 1.4rem;
  margin-right: 1rem;
}
/**************************/
/* OPTION OPEN*/
/**************************/
.options.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.open .optionContainer {
  position: relative;
  background: white;
  max-width: 419px !important;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 90%;
  animation: fadeIn 0.3s ease-in-out;
}
.optionContents {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.selectBox {
  font-size: 1rem;
}

.option {
  display: flex;
  align-items: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-flex;
  background-color: #e67e22;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 0.9rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
  text-align: center;
  line-height: normal;
  margin-bottom: 3rem;
}
/**************************/
/* 575px */
/**************************/
@media (min-width: 575px) {
  /* .optionContainer{
    display: none;
  } */
  /* .open .optionContainer{
    display: none;
  } */
  .closeBtn {
    display: none;
  }
  .checkBox {
    display: none;
  }
  .filterContainer {
    display: flex;
    justify-content: center;
  }
  .btnContainer {
    display: none;
  }
  .options {
    display: flex;
  }
  .option {
    align-items: center;
  }
  .h2 {
    display: none;
  }
  .label {
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  .box {
    border: 0.13rem solid #000;
    width: 1.9rem;
    height: 1.9rem;
    /* width: 80%; */
  }
  .optionContents {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .selectBox {
    font-size: 2rem;
  }
}

/**************************/
/* 575px */
/**************************/
@media (min-width: 768px) {
  .optionContents {
    gap: 3rem;
  }
}
/**************************/
/* 1000px */
/**************************/
@media (min-width: 1000px) {
  .label {
    font-size: 3rem;
    margin-right: 1rem;
  }
  .optionContents {
    gap: 5rem;
  }
}
/**************************/
/* MODAL*/
/**************************/
/* .modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 90%;
  animation: fadeIn 0.3s ease-in-out; 
}
.modalH2{
  font-weight: 600;
  color: #333;
  margin-bottom: 3rem;
  font-size: 3.6rem;
  line-height: 1.2;
}
.description{
  font-size: 1.9rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4rem;
} */

/* .options{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.91);
  width: 100%;
  height: 100vh;
} */
