:root {
  font-size: 65.5%;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem; /* 基準 */
  --font-size-lg: 2rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3.2rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.link{
  font-size: var(--font-size-lg);
  font-weight: 700;
}
/* .body{
  position: relative;
} */

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
}

.btn:hover{
  
}

.container{
  
}
.h1{
  
}
.h2{

}
.h3{
  
}