:root {
  font-size: 62.5%;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem; /* 基準 */
  --font-size-lg: 2rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3.2rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 62.5%;
  color: #555;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}
.container {
  /* 1140px */
  max-width: 130rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}
/**************************/
/* ELEMWNT FONT */
/**************************/
button,
input,
select,
textarea {
  font-family: inherit;
}

/**************************/
/* SPACING */
/**************************/
.sectionP{
  padding: 6.6rem 0;
}

/**************************/
/* TEXT */
/**************************/
.h1,.h2,.h3{
  font-weight: 600;
  color: #333;
}
.h1 {
  font-size: 3.1rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.h2{
  margin-bottom: 4rem;
  font-size: 3rem;
  /* font-size: 3rem; */
  line-height: 1.2;
}
.h3{
  margin-bottom: 2rem;
  font-size: 2rem;
  /* font-size: 3rem; */
  line-height: 1.2;
}
.subheading{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.centerText{
  text-align: center;
}

/**************************/
/* LINK */
/**************************/
.link {
  font-size: var(--font-size-lg);
  font-weight: 700;
}
/**************************/
/* FLEX */
/**************************/
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexDC{
  flex-direction: column;
}
/**************************/
/* GRID */
/**************************/
.grid {
  display: grid;
  /* gapを追加する */
  row-gap: 3.8rem;
  column-gap: 4.8rem;
}
.grid1col {
  grid-template-columns: 1fr;
}
.grid2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid3cols{
  grid-template-columns: repeat(3, 1fr);
}
.grid--center-v{
  align-items: center;
}

/**************************/
/* BUTTON */
/**************************/
.btnSm {
  display: inline-flex; 
  background-color: #e67e22;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600; /* ✅ `600` に統一 */
  text-decoration: none;
  padding: 0.8rem 0.3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
  text-align: center;
  line-height: normal;
}
.btnLg {
  display: inline-flex; /* ✅ `a` でも `button` でも同じレイアウトに */
  background-color: #e67e22;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600; /* ✅ `600` に統一 */
  text-decoration: none;
  padding: 1rem 0.6rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
  text-align: center;
  line-height: normal;
}
.btn:hover,
.btnLg:hover {
  background-color: #cf711f;
}
.isFavorite{
  background-color: #2980b9 !important;
}
.isFavorite:hover{
  background-color: #2471a3 !important;
}
/**************************/
/* DECORATION */
/**************************/
.icon{
  min-width: 3.4rem;
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
/**************************/
/* BOX */
/**************************/
.box{
  border-radius: 1.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.122);
}

/**************************/
/* PAGE */
/**************************/
.page {
  /* padding: 7.5rem 0; */
  background-color: #faebd7;
  padding: 4rem 0;
}
.pageTextBox {
  max-width: 130rem;
  padding: 0 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageDescription{
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}
/**************************/
/* UL & UI */
/**************************/
.listStyleNone{
  list-style: none;
}
/**************************/
/* LINE */
/**************************/
.line {
  max-width: 50rem;
  margin: 10rem auto 0;
  padding-top:0 2rem;
  border-top: 0.05rem solid #333;
}
/**************************/
/* ABOVE 590px (small Tablets & above) */
/**************************/
@media (min-width: 700px){
  .h1{
    font-size: 5rem;
  }
  .subheading{
    display: block;
    font-size: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
  }
  .h2{
    font-size: 4.5rem;
    margin-bottom: 4rem;
    /* font-size: 3rem; */
    line-height: 1.2;
  }
  
  .icon{
    height: 3rem;
    width: 3rem;
  }
  .grid1col {
    grid-template-columns: repeat(2, 1fr);
  }
  .pageDescription{
    font-size: 2rem;
    line-height: 1.2;
  }
}
/**************************/
/* ABOVE 900px (small Tablets & above) */
/**************************/
@media (min-width: 900px){
  .container{
    padding: 0 5.4rem;
  }
  .page {
    padding: 8rem 0;
  }
  .pageDescription {
    font-size: 2rem;
    line-height: 1.2;
  }
}
/**************************/
/* ABOVE 1000px (small Tablets & above) */
/**************************/
@media (min-width: 1000px){
  .h1{
    font-size: 4.5rem;
  }
  .page {
    padding:14rem 0 9rem 0;
  }
  .pageTextBox{
    max-width: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
  }
  .pageDescription{
    font-size: 2.7rem;
    line-height: 1.1;
    text-align: center;
  }
  .h3{
    margin-bottom: 2.2rem;
    font-size: 2.6rem;
  }
  .line {
    max-width: 90rem;
  }
}