:root {
  font-size: 65.5%;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem; /* 基準 */
  --font-size-lg: 2rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3.2rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.link{
  font-size: var(--font-size-lg);
  font-weight: 700;
}