.footer{
  padding: 10rem 0;
  border-top: 1px solid #eee;
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
  overflow: hidden;
}
.gridgap{
  gap: 1rem;
}
.logo{
  /* background-color: antiquewhite; */
}
.footerHeading{
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.account{
}
.contact{
  /* background-color: rgb(161, 124, 124); */
}
.footerNav{
  list-style: none;
  display: grid;
  row-gap: 1rem;
  
}
.footerLink{
  font-size: 1rem;
  text-decoration: none;
  color: #555;
}
.contactContents{
  display: grid;
  row-gap: 1rem;
}
.block{
  display: block;
}
