.cardBox {
  max-width: 150em;
  margin: 0 auto;
  font-size: 10px;
  padding: 0 1em;
  display: grid;
  column-gap: 1em;
  row-gap: 3em;
  grid-template-columns: repeat(2, 1fr);
}
.titleBox{
  
}
.userInfoBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.userInfo{
  font-size: 2rem;
  padding: 0 2rem;
  line-height: 1.05;
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.favoriteBox{
  /* padding: 0 1rem; */
  padding: 0 auto;
}


/**************************/
/* 576px */
/**************************/
@media (min-width: 576px) {
  .favoriteBox{
    /* padding: 0 3rem; */
  }
}
/**************************/
/* 700px */
/**************************/
@media (min-width: 700px) {
  .h3{
    margin-left: 3rem;
  }
}
/**************************/
/* 768px */
/**************************/
@media (min-width: 768px) {
  .cardBox {
    font-size: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}
/**************************/
/* 900px */
/**************************/
@media (min-width: 900px) {
  .cardBox {
    font-size: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}
/**************************/
/* 1000px */
/**************************/
@media (min-width: 1000px) {
  .userInfo {
    font-size: 3rem;
  }
}