.sectionToileInfo{
  padding: 9.6rem 0;
  background:lightgreen;
}
.toilet{
  display: flex; /* ✅ 画像とテキストを横並びにする */
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}
.toiletImg {
  width: 100%;
  height: auto;
}

.imgSrc {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.toiletTextInfo{
  padding:  2.4rem 1.5rem 3.2rem 1.5rem;
}
.toiletType{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin-bottom:1.2rem ;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.accessible{
  background-color: #51cf66;
}
/* #ae3099 */
.notAccessible{
  background-color: #ffd43b;
}
.toiletName{
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.toiletUl{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.toiletLi{
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}
.mb{
  margin-bottom: 6rem;
}