.whoBenefits{
  background-color: antiquewhite;
}
.benefitsList{
  grid-template-columns: 1fr;
}
.benefitsImgBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
}
.benefitSubheading{
  text-align: center;
  font-size: 2rem;
}
.blockquote{
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
}
/**************************/
/* ABOVE 590px (small Tablets & above) */
/**************************/
@media (min-width: 700px){
  .img{
    width: 120px;
    height: 120px;
    margin-bottom: 4rem;
  }
  .benefitSubheading{
    font-size: 3rem;
  }
  .blockquote{
    font-size: 2rem;
    line-height: 1.2;
  }
  .benefitsList{
    margin-top: 7rem;
    row-gap: 6.2rem;
  }
}

/**************************/
/* ABOVE 1000px (small Tablets & above) */
/* benefitsListのimgとtextを横並びにする */
/**************************/

@media (min-width: 1000px){
  .benefit{
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .benefitSubheading{
    font-size: 2rem;
  }
  .blockquote{
    font-size: 1.8rem;
    line-height: 1.8;
  }
}