.detailPage {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  font-size: 10px;
  max-width: 47.4rem;
  margin: 0 auto;
}
.positon {
  position: relative;
}
.toiletType {
  position: absolute;
  font-size: 1.1rem;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  padding: 0.6em 0.8em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.accessible {
  background-color: #84d190;
}
.notAccessible {
  background-color: #ffd43b;
}
.btnBox {
  margin-top: -3rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 2rem;
}
.addRatingFrom {
  background-color: #fff;
}
.btn {
  display: inline-flex;
  background-color: #e67e22;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.7rem 0.8rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.2s;
  border: none;
  text-align: center;
  line-height: normal;
}
.btn:hover {
  background-color: #cf711f;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3.2rem;
  padding-top: 5rem;
  line-height: 1.2;
}

.infoBox {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 3rem 2rem;
  gap: 2rem;
  line-height: 1.3;
}
.info {
  font-weight: 400;
  font-size: 1.7rem;
  font-weight: 500;
}
.span {
  display: inline-block;
  margin-right: 1rem;
}
.commentsContainer h2 {
  text-align: center;
}
.commentsContainer {
  margin: 0 3rem;
  margin-top: 3rem;
}
.line {
  max-width: 70rem;
  margin: 0 auto;
  padding-top: 2rem;
  border-top: 0.05rem solid #333;
}
.detailTextBox {
  max-width: 60rem;
  background-color: #fff;
  padding: 0;
  margin: 0 3rem;
  overflow: hidden;
}
.comment {
  font-size: 2rem;
}
.commentsBox {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding: 0 2rem;
}
.commentBox {
  background-color: #fff;
  width: 100%;
  max-width: 83rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border: 0.3rem solid #cf711f;
  border-radius: 1rem;
}
.favoriteBtn {
  width: 100%;
}

.favoriteBtn {
  border-radius: unset;
  width: 100%;
}
.rating {
  color: gold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/**************************/
/* 576px */
/**************************/
@media (min-width: 576px) {
  .toiletType {
    top: 1rem;
    left: 2rem;
  }
}
/**************************/
/* 700px */
/**************************/
@media (min-width: 700px) {
  .detailTextBox {
    margin: 0 auto;
  }
  .addRatingForm {
    margin: auto 0;
    min-width: 370px;
  }
  .commentsContainer {
    grid-column: 1/3;
    padding: 0 3rem;
  }
  .toiletType {
    top: 1.2rem;
    left: 1rem;
  }
  .detailPage {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
    column-gap: 2rem;
    row-gap: 5rem;
    padding: 0 2rem;
  }
  .title {
    font-size: 2.2rem;
    margin-bottom: 2rem !important;
  }
  .toiletType {
    top: 1.2rem;
    left: 1rem;
  }
}
/**************************/
/* 768px */
/**************************/
@media (min-width: 768px) {
  .detailTextBox {
    grid-column: 1/2;
    margin-left: 3rem;
  }
  .addRatingForm {
    grid-row: 1;
    grid-column: 2/3;
  }
  .commentsContainer {
    padding: 4rem 3rem 0;
    padding: 0 3rem;
  }
}
/**************************/
/* 900px */
/**************************/
@media (min-width: 900px) {
  .rating {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
  }
  .comment {
    font-size: 2.2rem;
  }
  .title{
    padding-top: 6rem;
  }
  .infoBox {
    padding: 0 4.5rem 3rem 4.5rem;
  }
}
/**************************/
/* 1000px */
/**************************/
@media (min-width: 1000px) {
  .commentsBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .detailTextBox {
    margin: 0 auto;
    min-height: 54.8rem;
  }
  .commentBox {
    min-height: 14rem;
  }
  .title{
    font-size: 3rem;
    padding-top: 6rem;
    margin-bottom: 4rem !important;
  }
  .info{
    font-size: 2.2rem;
  }
}
/**************************/
/* 1200px */
/**************************/
@media (min-width: 1200px) {

  /* .addRatingForm {
    width: 90%;
    margin: auto;
  } */
  .commentsContainer {
    padding: 0 3rem;
  }
  .detailTextBox{
    min-width: 43rem;
  }
  .detailPage{
    padding: 0 7rem;
  }
}
