.inputArea {
  row-gap: 3rem !important;
}
.label{
  font-weight: 400;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}


@media (min-width: 700px) {
  .toiletType {
    top: 1.2rem;
    left: 1rem;
  }
  .detailPage {
    grid-template-columns: repeat(2,1fr);
    row-gap: 3rem;
  }
  .title{
    font-size: 2.5rem;
  }
}

@media (min-width: 900px) {
  .label{
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .label{
    margin-bottom: 6rem;
  }
}